@import "../utils/mixins";

.heart {
  display: flex;
  width: 3rem;
  height: 3rem;
  position: relative;
  top: 60%;
  i {
    position: absolute;
    right: 10%;
    bottom: 50%;
    font-size: 1.5rem;
  }
  .heart__full {
    opacity: 0;
    background: linear-gradient(to bottom, #9356dc -11.44%, #ff79da 123.93%);

    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    &:hover {
      @include hover__full;
    }
  }
}

@keyframes progress-heart {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
